/*!
Theme Name:  Greenboxindonesia
Author:      Greenboxindonesia
Author URI:  https://gitlab.com/greenboxindonesia/greenbox-child-themes
Description: Child Theme for development &amp; created UI website platform Wordpress by Greenboxindonesia
Version:     1.0.0
License:     GNU General Public License v3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Template:    page-builder-framework
Text Domain: page-builder-framework-child
*/
[data-elementor-device-mode=mobile] .spesifikasi-produk p.elementor-heading-title.elementor-size-default{font-family:Rubik,Sans-serif;font-weight:300;font-size:14px}[data-elementor-device-mode=tablet] .spesifikasi-produk p.elementor-heading-title.elementor-size-default{font-family:Rubik,Sans-serif;font-weight:300;font-size:14px}
/* add css in homepage*/
.cat-produku .pp-category-inner{display:flex}.cat-produku .pp-categories .pp-category-inner img{height:85px;width:40%;padding:0;-o-object-fit:cover;object-fit:cover}.cat-produku .pp-category-content{text-align:left;padding-left:50%;min-width:60%;top:50%;position:absolute;transform:translate(0,-50%)}[data-elementor-device-mode=mobile] .elementor-posts-container.elementor-posts.elementor-posts--skin-cards.elementor-grid.elementor-has-item-ratio{display:-webkit-box;margin-left:-19px;padding:0 20px 5px;width:225px}.elementor-posts-container.elementor-posts.elementor-posts--skin-cards.elementor-grid.elementor-has-item-ratio{display:-webkit-box;width:275px}[data-elementor-device-mode=mobile] .post-blog .elementor-post.elementor-grid-item.hentry{margin-bottom:0;padding:0 10px 0 0}.post-blog .elementor-post.elementor-grid-item.hentry{margin-bottom:0;padding:5px}.elementor-post.elementor-grid-item.hentry{margin-bottom:0;padding:5px}.elementor-posts--thumbnail-top .elementor-post{display:inherit}[data-elementor-device-mode=mobile] .biding-box .ecs-posts.elementor-posts-container.elementor-posts.elementor-grid.elementor-posts--skin-custom{display:-webkit-box;padding:5px}[data-elementor-device-mode=mobile] .biding-box .elementor-325 .elementor-element.elementor-element-4a3ab9f>.elementor-container{max-width:140px}[data-elementor-device-mode=mobile] .biding-box .elementor-post.elementor-grid-item.hentry{margin-bottom:0;padding-right:10px}.biding-box .ecs-posts.elementor-posts-container.elementor-posts.elementor-grid.elementor-posts--skin-custom{display:-webkit-box;padding-bottom:5px}.elementor-posts .elementor-post__card .elementor-post__title{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}.biding-box h1.elementor-heading-title.elementor-size-default{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}